<div class="py-2 px-4 border rounded-xl mt-2 shadow-lg">
  <h2 class="text-base font-semibold">
    Đánh giá & nhận xét tai nghe Bluetooth Samsung Galaxy Buds Live
  </h2>
  <div class="mt-4 border-2 border-gray-200 rounded-lg grid grid-cols-3">
    <div class="col-span-1 flex items-center justify-center border-r">
      <div>
        <h6 class="font-bold text-center text-2xl">4.7/5</h6>
        <div class="text-center">
          <nz-rate [ngModel]="5" nzDisabled></nz-rate>
        </div>
        <p class="text-center mt-2">
          <span class="font-bold">13</span> đánh giá & nhận xét
        </p>
      </div>
    </div>
    <div class="col-span-2 p-2 space-y-2">
      <div class="flex items-center">
        <p class="flex items-center font-bold mr-2">
          5<i
            nz-icon
            nzType="star"
            nzTheme="fill"
            class="text-yellow-400 ml-1"
          ></i>
        </p>
        <nz-progress
          class="flex-1 mr-2"
          [nzPercent]="70"
          [nzShowInfo]="false"
          nzStatus="exception"
        ></nz-progress>
        <p class="text-xs">9 đánh giá</p>
      </div>
      <div class="flex items-center">
        <p class="flex items-center font-bold mr-2">
          4<i
            nz-icon
            nzType="star"
            nzTheme="fill"
            class="text-yellow-400 ml-1"
          ></i>
        </p>
        <nz-progress
          class="flex-1 mr-2"
          [nzPercent]="15"
          [nzShowInfo]="false"
          nzStatus="exception"
        ></nz-progress>
        <p class="text-xs">2 đánh giá</p>
      </div>
      <div class="flex items-center">
        <p class="flex items-center font-bold mr-2">
          3<i
            nz-icon
            nzType="star"
            nzTheme="fill"
            class="text-yellow-400 ml-1"
          ></i>
        </p>
        <nz-progress
          class="flex-1 mr-2"
          [nzPercent]="15"
          [nzShowInfo]="false"
          nzStatus="exception"
        ></nz-progress>
        <p class="text-xs">2 đánh giá</p>
      </div>
      <div class="flex items-center">
        <p class="flex items-center font-bold mr-2">
          2<i
            nz-icon
            nzType="star"
            nzTheme="fill"
            class="text-yellow-400 ml-1"
          ></i>
        </p>
        <nz-progress
          class="flex-1 mr-2"
          [nzPercent]="0"
          [nzShowInfo]="false"
          nzStatus="exception"
        ></nz-progress>
        <p class="text-xs">0 đánh giá</p>
      </div>
      <div class="flex items-center">
        <p class="flex items-center font-bold mr-2">
          1<i
            nz-icon
            nzType="star"
            nzTheme="fill"
            class="text-yellow-400 ml-1"
          ></i>
        </p>
        <nz-progress
          class="flex-1 mr-2"
          [nzPercent]="0"
          [nzShowInfo]="false"
          nzStatus="exception"
        ></nz-progress>
        <p class="text-xs">0 đánh giá</p>
      </div>
    </div>
  </div>
  <p class="text-center mt-4">Bạn đánh giá sao về sản phẩm này?</p>
  <div class="mt-1 flex justify-center">
    <button
      class="mt-1 bg-red-600 text-white p-1 rounded-xl w-72"
      (click)="postRating()"
    >
      Đánh giá ngay
    </button>
  </div>
  <div class="mt-4 space-y-4 pb-12 relative">
    <div class="flex items-start">
      <nz-avatar
        [nzShape]="'square'"
        [nzSize]="'small'"
        [nzIcon]="'user'"
      ></nz-avatar>
      <div class="ml-1 w-full">
        <div class="flex">
          <p class="font-bold">Mr Hong</p>
          <p class="flex items-center ml-auto font-bold text-gray-500">
            <i nz-icon nzType="clock-circle" nzTheme="outline" class="mr-1"></i>
            <span class="text-xs">2021-09-27 22:05:32</span>
          </p>
        </div>
        <div class="bg-gray-100 mt-2 p-2 rounded-xl">
          <div class="flex items-center">
            <h6 class="font-bold">Đánh giá:</h6>
            <nz-rate class="ml-1" [ngModel]="5" nzDisabled></nz-rate>
          </div>
          <div class="flex items-center">
            <h6 class="font-bold">Nhận xét:</h6>
            <p class="ml-1">Máy rẻ phụ kiện đắt</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-start">
      <nz-avatar
        [nzShape]="'square'"
        [nzSize]="'small'"
        [nzIcon]="'user'"
      ></nz-avatar>
      <div class="ml-1 w-full">
        <div class="flex">
          <p class="font-bold">Mr Hong</p>
          <p class="flex items-center ml-auto font-bold text-gray-500">
            <i nz-icon nzType="clock-circle" nzTheme="outline" class="mr-1"></i>
            <span class="text-xs">2021-09-27 22:05:32</span>
          </p>
        </div>
        <div class="bg-gray-100 mt-2 p-2 rounded-xl">
          <div class="flex items-center">
            <h6 class="font-bold">Đánh giá:</h6>
            <nz-rate class="ml-1" [ngModel]="5" nzDisabled></nz-rate>
          </div>
          <div class="flex items-center">
            <h6 class="font-bold">Nhận xét:</h6>
            <p class="ml-1">Máy rẻ phụ kiện đắt</p>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute bottom-1 w-full flex">
      <button
        class="
          rounded-lg
          border-2 border-gray-200
          w-56
          ml-auto
          mr-auto
          flex
          items-center
          justify-center
          bg-white
          p-1
          font-medium
          hover:bg-red-100 hover:border-red-600 hover:text-red-600
        "
      >
        <span>Xem thêm</span
        ><i class="ml-1" nz-icon nzType="down" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</div>

<app-create-rating-form #createRating></app-create-rating-form>
