<div class="flex justify-center w-full bg-white mx-auto px-10 footer-shadow">
  <div class="flex flex-wrap text-left text-black">
    <div class="w-full md:w-1/4 p-5 md:text-left">
      <div class="mt-6 mb-2 text-x2 font-bold">GIỚI THIỆU CÔNG TY</div>
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Giới thiệu về công ty</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Hệ thống cửa hàng</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Quy chế hoạt động</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Gửi góp ý, khiếu nại</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Tuyển dụng</a
      >
      <div class="my-6 text-x2 font-bold"></div>
      <div class="grid grid-cols-1 gap-x-1 mx-auto">
        <img src="assets/logo/bocongthuong.png" alt="" class="items-left" />
      </div>
    </div>

    <div class="w-full md:w-1/4 p-5 md:text-left">
      <div class="mt-6 mb-2 text-x2 font-bold">CHÍNH SÁCH CÔNG TY</div>

      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Chính sách chất lượng</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Chính sách bảo hành</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Chính sách đổi trả</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Chính sách vận chuyển</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Chính sách bảo mật</a
      >
      <div class="mt-6 mb-2 text-x2 font-bold">ĐỐI TÁC DỊCH VỤ BẢO HÀNH</div>

      <div class="grid grid-cols-1 gap-x-2 gap-y-2 mx-auto">
        <img
          src="assets/logo/dienthoaivui.png"
          alt=""
          class="w-64 h-20 object-contain"
        />
      </div>
    </div>

    <div class="w-full md:w-1/4 p-5 md:text-left">
      <div class="mt-6 mb-2 text-x2 font-bold">CÁCH THỨC MUA HÀNG</div>

      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Tra cứu thông tin đơn hàng</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Tra cứu thông tin bảo hành</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Hướng dẫn mua hàng và thanh toán online</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Chính sách mua trả góp</a
      >
      <a href="#" class="block mt-1 leading-tight text-black hover:underline"
        >Hướng dẫn mua hàng trả góp online</a
      >

      <div class="mt-6 mb-2 text-x2 font-bold">PHƯƠNG THỨC THANH TOÁN</div>

      <div class="grid grid-cols-4 gap-x-1 mx-auto">
        <div
          class="
            border-2 border-solid border-gray-200
            h-8
            flex
            items-center
            justify-center
          "
        >
          <img
            src="assets/payment/mpos.png"
            alt=""
            class="object-contain w-12 h-7"
          />
        </div>
        <div
          class="border-2 border-gray-200 h-8 flex items-center justify-center"
        >
          <img
            src="assets/payment/alepay.png"
            alt=""
            class="object-contain w-12 h-7"
          />
        </div>
        <div
          class="border-2 border-gray-200 h-8 flex items-center justify-center"
        >
          <img
            src="assets/payment/master-card.png"
            alt=""
            class="object-contain w-12 h-7"
          />
        </div>
        <div
          class="border-2 border-gray-200 h-8 flex items-center justify-center"
        >
          <img
            src="assets/payment/momo.png"
            alt=""
            class="object-contain w-12 h-7"
          />
        </div>
      </div>
      <div class="grid grid-cols-4 gap-x-2 mt-1 mx-auto">
        <div
          class="border-2 border-gray-200 h-8 flex items-center justify-center"
        >
          <img
            src="assets/payment/visa.png"
            alt=""
            class="object-contain w-12 h-7"
          />
        </div>
        <div
          class="border-2 border-gray-200 h-8 flex items-center justify-center"
        >
          <img
            src="assets/payment/vnpay.png"
            alt=""
            class="object-contain w-12 h-7"
          />
        </div>
        <div
          class="border-2 border-gray-200 h-8 flex items-center justify-center"
        >
          <img
            src="assets/payment/zalopay.png"
            alt=""
            class="object-contain w-12 h-7"
          />
        </div>
        <div
          class="border-2 border-gray-200 h-8 flex items-center justify-center"
        >
          <img
            src="assets/payment/atm.png"
            alt=""
            class="object-contain w-12 h-7"
          />
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/4 p-5 md:text-left my-6">
      <div class=""><b>Tư vấn mua hàng</b> <span> (Miễn phí)</span></div>
      <div class="mb-2">
        <span class="text-lg text-red-700">1800.1600 </span>
      </div>
      <div class=""><b>Hỗ trợ kỹ thuật</b> <span> (8h00-18h00)</span></div>
      <div class="mb-2">
        <span class="text-lg text-red-700">1800.1600 </span>
      </div>
      <div class=""><b>Góp ý, khiếu nại</b> <span> (8h00-22h00)</span></div>
      <div class="mb-2">
        <span class="text-lg text-red-700">1800.1600 </span>
      </div>
    </div>
  </div>
</div>
