<nz-modal [nzBodyStyle]="{padding: '0'}" class="modal" [nzVisible]="isModalVisible$ | async" nzClosable='false'
  [nzFooter]="null">
  <ng-container *nzModalContent>
    <div (click)="closeModal()"
      class="hover:cursor-pointer closed-button border-2 w-8 h-8 bg-white flex justify-center items-center"><i
        class="text-red-500 text-base" nz-icon nzType="close" nzTheme="outline"></i></div>
    <div class="grid grid-cols-3">
      <div class="col-span-2 p-4">
        <h4 nz-typography>Cập nhật mật khẩu</h4>
        <form class="mt-4" nz-form [formGroup]="updatePasswordForm">
          <nz-form-item>
            <nz-form-control nzErrorTip="Hãy nhập mật khẩu ban đầu!">
              <nz-input-group>
                <input type="password" nz-input formControlName="currentPassword" placeholder="Mật khẩu ban đầu" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Hãy nhập mật khẩu mới!">
              <nz-input-group>
                <input type="password" nz-input formControlName="newPassword" placeholder="Mật khẩu mới" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="errorTpl">
              <nz-input-group>
                <input type="password" nz-input formControlName="confirmPassword" placeholder="Nhập lại mật khẩu" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button
          class="w-full text-base font-medium bg-red-300 border-red-500 border-2 text-white py-1 hover:bg-red-500"
          (click)="updatePassword()">Cập nhật</button>
        </form>
      </div>
      <div class="col-span-1 flex justify-center items-center bg-red-custom">
        <img src="assets/logo/small-icon.png">
      </div>
    </div>
  </ng-container>
</nz-modal>
<ng-template #errorTpl let-control>
  <ng-container *ngIf="control.hasError('required')">Hãy nhập lại mật khẩu</ng-container>
  <ng-container *ngIf="control.hasError('confirm')">
    Mật khẩu nhập lại không khớp với mật khẩu mới
  </ng-container>
</ng-template>