
thead {
  border-bottom: 1.2px solid #f0f0f0;
  th {
    padding: 15px 20px;
  }
}

tbody {
  border-bottom: 1.2px solid #f0f0f0;
  td {
    padding: 15px 20px;
  }
}

tfoot {
  tr {
    td {
      padding: 0px 20px;
    }
  }
}
 
