.input-group {
  &:hover, &:focus {
    border-color: #ffff !important;
    box-shadow: none !important;
  }
}

[nz-radio] {
  display: block;
  height: 32px;
  line-height: 32px;
}

.item-header {
  padding: 3px 5px 3px 5px;
  border-radius: 10px;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
