@import './color';
.w-fit {
  width: fit-content !important;
}

.h-fit {
  height: fit-content !important;
}

.w-1200 {
  width: 1200px;
}

.bg-red-custom {
  background-color: var(--cellphones-color);
}

.color-red-custom {
  color: var(--cellphones-color);
}