<div class="order-tracking-form">
  <img src="assets/img/order-tracking.png">
  <h2 class="flex justify-center text-xl mt-4 mb-2">Tra cứu thông tin đơn hàng</h2>
  <form class="w-302 ml-auto mr-auto py-4" nz-form [formGroup]="orderTrackingForm" (ngSubmit)="viewOrderTracking()">
    <nz-form-item>
     <nz-form-control nzErrorTip="Số điện thoại không hợp lệ">
       <nz-input-group nzSize="large" class="rounded-lg" [nzPrefix]="prefixPhone">
         <input type="tel" nz-input formControlName="tel" placeholder="Nhập số điện thoại mua hàng" />
       </nz-input-group>
     </nz-form-control>
    </nz-form-item>
    <nz-form-item class="flex justify-center">
     <nz-form-control nzErrorTip="Vui lòng nhập mã đơn hàng">
       <nz-input-group nzSize="large" class="rounded-lg" [nzPrefix]="prefixCode">
         <input type="text" nz-input formControlName="code" placeholder="Nhập mã đơn hàng" />
       </nz-input-group>
     </nz-form-control>
    </nz-form-item>
    <nz-form-item class="flex justify-center">
     <button class="rounded-3xl w-full py-2 text-lg bg-red-500 text-white hover:bg-white hover:text-red-500 border-2 border-red-500">TIẾP TỤC</button>
    </nz-form-item>
  </form>
 </div>


<ng-template #prefixPhone>
  <i nz-icon class="text-2xl flex items-center" nzType="mobile" nzTheme="twotone"></i>
</ng-template>
<ng-template #prefixCode>
  <i nz-icon class="text-2xl flex items-center" nzType="appstore" nzTheme="twotone"></i>
</ng-template>