
<div class="grid grid-cols-4">
  <div class="col-span-3">
    <nz-carousel class="h-407 w-900" nzAutoPlay>
      <div nz-carousel-content *ngFor="let item of sliderImages">
        <img class="h-full" [src]="item.src">
      </div>
    </nz-carousel>
  </div>
  <div class="col-span-1">
    <img src="assets/promotion/banner_1.png">
    <img src="assets/promotion/banner_2.png" class="mt-2">
    <img src="assets/promotion/banner_3.png" class="mt-2">
  </div>
</div>
<img src="assets/promotion/main_banner.png" class="mt-2">
<div class="mt-4 grid grid-cols-4 space-x-2">
  <div *ngFor="let item of hotSuppliers" class="col-span-1 h-20 flex justify-center items-center shadow-lg bg-white">
    <img class="h-20 object-contain" [src]="item.logo">
  </div>
</div>
<div class="mt-2">
</div>
